body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Pretendard';
  font-display: swap;
  line-height: normal;
  src: url('./assets/fonts/PretendardVariable.woff2');
}

@font-face {
  font-family: 'Unbounded';
  font-display: swap;
  line-height: normal;
  src: url('./assets/fonts/Unbounded.woff2');
}

* { 
  font-family: 'Pretendard';
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}