body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Pretendard';
  font-display: swap;
  line-height: normal;
  src: url('./assets/fonts/PretendardVariable.woff2');
}

@font-face {
  font-family: 'Unbounded';
  font-display: swap;
  line-height: normal;
  src: url('./assets/fonts/Unbounded.woff2');
}

* { 
  font-family: 'Pretendard';
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #3C3C3C;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

img {
  border-radius: 10px;
  object-fit: cover;
}

.widget-svg {
  width: 16px !important;
  height: 16px !important;
}

.star-container {
  padding-left: 0px !important;
  padding-right: 3px !important
}

.star-ratings {
  display: flex !important;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    -webkit-appearance: none;
}

input::-webkit-autofill {
  background-color: transparent !important;
}